node-red/flows.json
[{"id":"2ee7f4d7.01e0bc","type":"tab","label":"Webserver","disabled":false,"info":""},{"id":"9464d0c1.31ece","type":"tab","label":"Dashboards","disabled":false,"info":""},{"id":"d2ece165.ccf948","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home","name":"","usetls":false,"tls":""},{"id":"9b6e7d72.eea3b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d86bc48.193f0c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":""},{"id":"8987528c.2f85c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":""},{"id":"98d332d.0bfc75","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4564de76.9edb3","type":"ui_group","z":"","name":"Bedroom","tab":"98d332d.0bfc75","order":1,"disp":true,"width":"6","collapse":false},{"id":"ad04de30.b6daf8","type":"ui_group","z":"","name":"Living Room","tab":"98d332d.0bfc75","order":2,"disp":true,"width":"6","collapse":false},{"id":"9f4cb036.e1aa6","type":"ui_group","z":"","name":"Kitchen","tab":"98d332d.0bfc75","order":3,"disp":true,"width":"6","collapse":false},{"id":"1ccc1482.39774b","type":"ui_tab","z":"","name":"Bedroom","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a773de58.2b33a","type":"ui_group","z":"","name":"General","tab":"1ccc1482.39774b","order":1,"disp":false,"width":"20","collapse":false},{"id":"cbd3f7e3.c4003","type":"ui_tab","z":"","name":"Living Room","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"107e990c.9a596f","type":"ui_group","z":"","name":"General","tab":"cbd3f7e3.c4003","order":1,"disp":false,"width":"20","collapse":false},{"id":"6f0ba52e.d35744","type":"ui_group","z":"","name":"Корридор","tab":"98d332d.0bfc75","order":4,"disp":true,"width":"6","collapse":false},{"id":"d7bd62ee.db3b4","type":"ui_tab","z":"","name":"Корридор","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9feeb9ae.393fa8","type":"ui_group","z":"","name":"General","tab":"d7bd62ee.db3b4","order":1,"disp":true,"width":20,"collapse":false},{"id":"4dbe80c4.b92c9","type":"http in","z":"2ee7f4d7.01e0bc","name":"","url":"/ping","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["b1ed8dd7.2be55"]]},{"id":"375539a7.7c629e","type":"http response","z":"2ee7f4d7.01e0bc","name":"","statusCode":"200","headers":{},"x":400,"y":100,"wires":[]},{"id":"1360f1cb.fb103e","type":"http in","z":"2ee7f4d7.01e0bc","name":"","url":"/readings","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["db01e35e.0c8cf"]]},{"id":"9d208922.370038","type":"debug","z":"2ee7f4d7.01e0bc","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":180,"wires":[]},{"id":"687c1583.86edbc","type":"influxdb out","z":"2ee7f4d7.01e0bc","influxdb":"d2ece165.ccf948","name":"save","measurement":"","precision":"","retentionPolicy":"","x":560,"y":140,"wires":[]},{"id":"db01e35e.0c8cf","type":"function","z":"2ee7f4d7.01e0bc","name":"parseReadings","func":"msg.measurement = msg.req.headers.measurement,\n\nmsg.payload = {\n    unit: msg.req.headers.unit,\n\n    value: parseFloat(msg.req.headers.value),\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["687c1583.86edbc","9d208922.370038"]]},{"id":"b1ed8dd7.2be55","type":"template","z":"2ee7f4d7.01e0bc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"pong","output":"str","x":240,"y":100,"wires":[["375539a7.7c629e"]]},{"id":"4d742d67.495d0c","type":"ui_chart","z":"9464d0c1.31ece","name":"","group":"a773de58.2b33a","order":3,"width":0,"height":0,"label":"Temperature History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":100,"wires":[[]]},{"id":"25399564.f6c24a","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getTemperature","query":"SELECT value, unit FROM temperature WHERE ((\"unit\" = 'D8:BF:C0:10:F5:D8' OR \"unit\" = '48:3F:DA:0D:37:F6') AND time <= now() AND time > now() - 24h) ORDER BY DESC","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":100,"wires":[["6789df92.1969d"]]},{"id":"6789df92.1969d","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const dataBed = msg.payload\n    .filter(x => x.unit === 'D8:BF:C0:10:F5:D8')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nconst dataTable = msg.payload\n    .filter(x => x.unit === '48:3F:DA:0D:37:F6')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nmsg.payload = [{\n    \"series\": [\"Bed\", \"Table\"],\n    \"data\": [ dataBed, dataTable ],\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["4d742d67.495d0c"]]},{"id":"b387d8e5.b6b57","type":"ui_chart","z":"9464d0c1.31ece","name":"","group":"a773de58.2b33a","order":3,"width":0,"height":0,"label":"Humidity History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"25","ymax":"75","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":160,"wires":[[]]},{"id":"f3e8cae6.4b403","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getHumidity","query":"SELECT value, unit FROM humidity WHERE ((\"unit\" = 'D8:BF:C0:10:F5:D8' OR \"unit\" = '48:3F:DA:0D:37:F6') AND time <= now() AND time > now() - 24h) ORDER BY DESC","rawOutput":false,"precision":"","retentionPolicy":"","x":330,"y":160,"wires":[["b38ea1f3.4770a8"]]},{"id":"b38ea1f3.4770a8","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const dataBed = msg.payload\n    .filter(x => x.unit === 'D8:BF:C0:10:F5:D8')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nconst dataTable = msg.payload\n    .filter(x => x.unit === '48:3F:DA:0D:37:F6')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nmsg.payload = [{\n    \"series\": [\"Bed\", \"Table\"],\n    \"data\": [ dataBed, dataTable ],\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["b387d8e5.b6b57"]]},{"id":"3383fd9b.24f6c2","type":"ui_chart","z":"9464d0c1.31ece","name":"","group":"107e990c.9a596f","order":3,"width":0,"height":0,"label":"Temperature History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":280,"wires":[[]]},{"id":"79074f72.b4bad8","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getTemperature","query":"SELECT value, unit FROM temperature WHERE ((\"unit\" = 'EC:FA:BC:51:8D:CF' OR \"unit\" = 'DC:4F:22:48:32:5F') AND time <= now() AND time > now() - 24h) ORDER BY DESC","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":280,"wires":[["67fc578a.912388"]]},{"id":"67fc578a.912388","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const dataKitchen = msg.payload\n    .filter(x => x.unit === 'DC:4F:22:48:32:5F')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nconst dataLivingRoom = msg.payload\n    .filter(x => x.unit === 'EC:FA:BC:51:8D:CF')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nmsg.payload = [{\n    \"series\": [\"Kitchen\", \"Living Room\"],\n    \"data\": [ dataKitchen, dataLivingRoom ],\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["3383fd9b.24f6c2"]]},{"id":"25e5c71d.bcdc8","type":"ui_chart","z":"9464d0c1.31ece","name":"","group":"107e990c.9a596f","order":3,"width":0,"height":0,"label":"Humidity History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"25","ymax":"75","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":340,"wires":[[]]},{"id":"8a6c4b2d.807368","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getHumidity","query":"SELECT value, unit FROM humidity WHERE ((\"unit\" = 'EC:FA:BC:51:8D:CF' OR \"unit\" = 'DC:4F:22:48:32:5F') AND time <= now() AND time > now() - 24h) ORDER BY DESC","rawOutput":false,"precision":"","retentionPolicy":"","x":330,"y":340,"wires":[["f4daae41.612fd"]]},{"id":"f4daae41.612fd","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const dataKitchen = msg.payload\n    .filter(x => x.unit === 'DC:4F:22:48:32:5F')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nconst dataLivingRoom = msg.payload\n    .filter(x => x.unit === 'EC:FA:BC:51:8D:CF')\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nmsg.payload = [{\n    \"series\": [\"Kitchen\", \"Living Room\"],\n    \"data\": [ dataKitchen, dataLivingRoom ],\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["25e5c71d.bcdc8"]]},{"id":"f0b84344.06bbf","type":"ui_chart","z":"9464d0c1.31ece","name":"","group":"9feeb9ae.393fa8","order":1,"width":0,"height":0,"label":"Temperature History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":420,"wires":[[]]},{"id":"1cbf9304.047995","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getTemperature","query":"SELECT value, unit FROM temperature WHERE (\"unit\" = 'FC:F5:C4:94:25:0E' AND time <= now() AND time > now() - 24h) ORDER BY DESC","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":420,"wires":[["ce1bc6bc.e92048"]]},{"id":"ce1bc6bc.e92048","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const data = msg.payload\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nmsg.payload = [{\n    \"series\": [\"Корридор\"],\n    \"data\": [ data ],\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["f0b84344.06bbf"]]},{"id":"2ea3023a.f945b6","type":"ui_chart","z":"9464d0c1.31ece","name":"","group":"9feeb9ae.393fa8","order":2,"width":0,"height":0,"label":"Humidity History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"25","ymax":"75","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":480,"wires":[[]]},{"id":"b06319.9311d4e8","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getHumidity","query":"SELECT value, unit FROM humidity WHERE (\"unit\" = 'FC:F5:C4:94:25:0E' AND time <= now() AND time > now() - 24h) ORDER BY DESC","rawOutput":false,"precision":"","retentionPolicy":"","x":330,"y":480,"wires":[["b1c65612.891e48"]]},{"id":"b1c65612.891e48","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const data = msg.payload\n    .map(x => ({ \"x\": x.time, \"y\": x.value }));\n\nmsg.payload = [{\n    \"series\": [\"Корридор\"],\n    \"data\": [ data ],\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["2ea3023a.f945b6"]]},{"id":"cbf3edb7.a2cb4","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"4564de76.9edb3","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":710,"y":600,"wires":[]},{"id":"80337f36.167d8","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const value1 = msg.payload[0].value;\nconst value2 = msg.payload[1].value;\n\nmsg.payload = Math.round((value1 + value2) / 2);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["cbf3edb7.a2cb4"]]},{"id":"d5a3f523.78018","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestTemperature","query":"SELECT value as value FROM temperature WHERE (\"unit\" = 'D8:BF:C0:10:F5:D8' OR \"unit\" = '48:3F:DA:0D:37:F6') ORDER BY DESC LIMIT 2","rawOutput":false,"precision":"","retentionPolicy":"","x":360,"y":600,"wires":[["80337f36.167d8"]]},{"id":"f9386b93.b3e17","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestHumidity","query":"SELECT value as value FROM humidity WHERE (\"unit\" = 'D8:BF:C0:10:F5:D8' OR \"unit\" = '48:3F:DA:0D:37:F6') ORDER BY DESC LIMIT 2","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":660,"wires":[["b00e2e3a.fb218"]]},{"id":"78ea1751.ab2e78","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"4564de76.9edb3","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":700,"y":660,"wires":[]},{"id":"b00e2e3a.fb218","type":"function","z":"9464d0c1.31ece","name":"parse","func":"const value1 = msg.payload[0].value;\nconst value2 = msg.payload[1].value;\n\nmsg.payload = Math.round((value1 + value2) / 2);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["78ea1751.ab2e78"]]},{"id":"8cc597eb.c27ef8","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"ad04de30.b6daf8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":710,"y":760,"wires":[]},{"id":"e4715687.3b07a8","type":"function","z":"9464d0c1.31ece","name":"parse","func":"msg.payload = msg.payload[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":760,"wires":[["8cc597eb.c27ef8"]]},{"id":"4f84c6ac.b955c","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestTemperature","query":"SELECT value FROM temperature WHERE (\"unit\" = 'EC:FA:BC:51:8D:CF') ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":360,"y":760,"wires":[["e4715687.3b07a8"]]},{"id":"9e2536e8.2110c8","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestHumidity","query":"SELECT value FROM humidity WHERE (\"unit\" = 'EC:FA:BC:51:8D:CF') ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":820,"wires":[["ebe8a0ff.96394"]]},{"id":"f505f05a.41e558","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"ad04de30.b6daf8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":700,"y":820,"wires":[]},{"id":"ebe8a0ff.96394","type":"function","z":"9464d0c1.31ece","name":"parse","func":"msg.payload = msg.payload[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["f505f05a.41e558"]]},{"id":"e2f982c5.4ce5e","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"9f4cb036.e1aa6","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":710,"y":920,"wires":[]},{"id":"7538aea3.5a2d8","type":"function","z":"9464d0c1.31ece","name":"parse","func":"msg.payload = msg.payload[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":920,"wires":[["e2f982c5.4ce5e"]]},{"id":"effa276c.642b98","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestTemperature","query":"SELECT value FROM temperature WHERE (\"unit\" = 'DC:4F:22:48:32:5F') ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":360,"y":920,"wires":[["7538aea3.5a2d8"]]},{"id":"c9073525.b115e8","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestHumidity","query":"SELECT value FROM humidity WHERE (\"unit\" = 'DC:4F:22:48:32:5F') ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":980,"wires":[["9326831d.47e77"]]},{"id":"cf76ee94.90eb9","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"9f4cb036.e1aa6","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":700,"y":980,"wires":[]},{"id":"9326831d.47e77","type":"function","z":"9464d0c1.31ece","name":"parse","func":"msg.payload = msg.payload[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":980,"wires":[["cf76ee94.90eb9"]]},{"id":"89ea5eea.8ae348","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"6f0ba52e.d35744","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":710,"y":1060,"wires":[]},{"id":"84dbfc7d.7f7e8","type":"function","z":"9464d0c1.31ece","name":"parse","func":"msg.payload = msg.payload[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1060,"wires":[["89ea5eea.8ae348"]]},{"id":"ace60411.0e16d8","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestTemperature","query":"SELECT value FROM temperature WHERE (\"unit\" = 'FC:F5:C4:94:25:0E') ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":360,"y":1060,"wires":[["84dbfc7d.7f7e8"]]},{"id":"67b43320.6b8ca4","type":"influxdb in","z":"9464d0c1.31ece","influxdb":"d2ece165.ccf948","name":"getLatestHumidity","query":"SELECT value FROM humidity WHERE (\"unit\" = 'FC:F5:C4:94:25:0E') ORDER BY DESC LIMIT 1","rawOutput":false,"precision":"","retentionPolicy":"","x":350,"y":1120,"wires":[["2ed2658a.be7832"]]},{"id":"656d910a.e8238","type":"ui_gauge","z":"9464d0c1.31ece","name":"","group":"6f0ba52e.d35744","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":700,"y":1120,"wires":[]},{"id":"2ed2658a.be7832","type":"function","z":"9464d0c1.31ece","name":"parse","func":"msg.payload = msg.payload[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1120,"wires":[["656d910a.e8238"]]},{"id":"538d1030.ece1b","type":"comment","z":"9464d0c1.31ece","name":"","info":"D8:BF:C0:10:F5:D8 - спальня, под кроватью\n48:3F:DA:0D:37:F6 - спальня, на столе\nEC:FA:BC:51:8D:CF - зал, под диваном\nDC:4F:22:48:32:5F - кухня\nFC:F5:C4:94:25:0E - корридор","x":80,"y":180,"wires":[]},{"id":"de900621.da89d","type":"inject","z":"9464d0c1.31ece","name":"","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":540,"wires":[[]]}]